.sidebar{
  float:right;
  width: 20%;
  font-size: 20px;
  background-color: yellow;
  text-align: center;
  border: solid black;
  padding-bottom: 30%;
}

.body{
  width: 70%;
}

.pic{
  float:left;
}
.para{
  font-size: 20px;
}
